:root {
    font-family: 'DIN Condensed';
    background-color: #97AF94; 
}
body{
    height: 100vh;
    font-family: 'DIN Condensed';
}
#heads {
    background-image: url('../heads.png');
    width: 200px;
    height: 200px;
    background-size:cover;
}
#tails {
    background-image: url('../tails.png');
    width: 200px;
    height: 200px;
    background-size:cover;
}
section{
    background-size:cover;
    height: calc(100vh - 50px);
    text-shadow: 1px 1px 0 black;
    color: white;
    }
 h1{
    font-size: 10rem; 
        
    }
h3{
    font-size: 10rem;
}
.maintext{
        display:flex;
        justify-content: center;
        font-family: 'Gujarati Sangam MN'; 
    }
.coin-container{
    background-color: #97AF94;
    
}
h1{

}