:root {
    font-family: 'DIN Condensed';
    background-color: #4682B4; 
}
body{
    height: 100vh;
    font-family: 'Open Sans';
    text-align: center;
    color: #4682B4;

}
#heads {
    background-image: url('../heads.png');
    width: 200px;
    height: 200px;
    background-size:cover;
    position: center;
    
}
#tails {
    background-image: url('../tails.png');
    width: 200px;
    height: 200px;
    background-size:cover;
   
}
section{
    background-size:cover;
    height: calc(100vh - 50px);
    text-shadow: 1px 1px 0 #4682B4;
    color: white;
    }
h2{
    font-size: 5rem; 
        
    }
h3{
    font-size: 3rem;
}
.maintext{
        display:flex;
        justify-content: center;
        font-family: 'Gujarati Sangam MN'; 
}
#flip-button{
        background:#FFFFFF;
        color: #4682B4;
        margin-top: 55px;
        margin-bottom:40px;
}   
.buttons{
    display: flex;
    justify-content:space-around;
}
button{
    width: 200px;
    padding: 20px 0;
    border:none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.coin-container{
    background-color: #ADD8E6;
    width: 700px;
    padding: 35px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 15px 30px 35px rgba (0,0,0,1)
}
.coin{
    font-family: 'Open Sans';
    text-align: center;
    color: #4682B4;
    font-size: 2rem;
}